<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
         <strong> Title of Work (Please ensure that the work title is correct!) </strong> <br>
          <input type="text" ng-model="rating.WorkTitle" class="form-control">
          <br>

            <strong> Rating </strong><br>

            <input type="text" ng-model="rating.Rating" class="form-control">

             

        <button ng-click="addrating(rating)">Submit</button>
        </div>
       
        <div class="row">
            <strong> Title of Work (Please ensure that the work title is correct!) </strong> <br>
            <input type="text" ng-model="rating.WorkTitle" class="form-control">
                <br>

            <strong>Review</strong><br>
            <input type="text" ng-model="review.Review" class="form-control">
            
        
        <button ng-click="addreview(review)">Submit</button>

        </div>

    </div>