   <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <strong> Search: </strong>
            <input type="text" ng-model="company.Username" class="form-control">
        
       <button ng-click="searchng(company)">Search</button></div>
        <div>
             <strong> Company Name</strong>
              <ul ng-repeat=" Compy in compys">
             <li>
     <h2>  Companyname: {{Compy.Username}}</h2>
             </li>
        </div>


        

     
        

