</html>
<html lang="en">


<body>

            <div >
 <form class="form" method="POST" action="">
                <% for(var i=0; i< eventArrays.length; i++){%>
                 
                            <h4> <%= eventArrays[i].title %></h4>
                bbb <br>
                    <h4> <%= eventArrays[i].price %></h4>
                    
                          
  
             
            </div>
            <% } %>
            </div>
        </div>
    </div>
</body>
</html>