<h2 class="page-header">Partnered Company Home Page</h2>
<p>Welcome to your home page</p>
<form method="post" action="/promote">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" name="title">
  </div>
 
  <button type="createpromotion" class="btn btn-default">Add Promotion</button>
  </form>
  
 


