<!DOCTYPE html>
<html>
<head>
    <title> Home page</title>
</head>

<body>   


<form class="form" method="POST" action="/">

 <button type="submit">Delete</button>



</form>
<form  method="post"  action='/update'>

 <button type="submit">Update</button>
 


</form>
</body>
</html>
