<!DOCTYPE html>
<html>
<head>
    <title> Home page</title>
</head>

<body>   


<form  method="post" >

 <button type="submit">Delete</button>
 <li><a href="http://localhost:3000/update">Update</a></li>


</form>

</body>
</html>

