


<body>
 <div >
 <form class="form" method="POST" action="">
              
  {{#each promotionArrays }}
    <h1>{{title}} {{UserName}}</h1>
  {{/each}}
</div>
            </div>

            </div>
        </div>
    </div>
</body>




