<body>
 <div >
 <form class="form" method="POST" action="">
              
  {{#each ratingArrays }}
    <h1>{{rating}} {{title}}</h1>
  {{/each}}
</div>
            </div>

            </div>
        </div>
    </div>
</body>