</html>
<html lang="en">


<body>

            <div >
 <form class="form" method="POST" action="">
                <% for(var i=0; i< ratingArrays.length; i++){%>
                bbb <br>
                   <h4>  <%= ratingArrays[i].name %></h4>
                        
                          
  
             <% } %>
            </div>

            </div>
        </div>
    </div>
</body>
</html>