<h2 class="page-header"></h2>
<p>Welcome to our home page</p>
<form method="post" action="/review">
  <div class="form-group">
    <label>Review</label>
    <input type="text" class="form-control" placeholder="Review" name="review">
     <input type="text" class="form-control" placeholder="TITLE" name="title">
  </div>
  <button type="addReview" class="btn btn-default">Add Review</button>
  </form>

  <form method="post" action="/rate">
  <div class="form-group">
     <input type="text" class="form-control" placeholder="Title" name="title">
    <label>Rating {1 poor, 2 below average, 3 average, 4 above average, 5 outstanding}</label>
    <input type="var" class="form-control" placeholder="Rating" name="rating">
  </div>
  <button type="addRating" class="btn btn-default">Add Rating</button>
  </form>