<body>
 <div>
 <form class="form" method="POST" action="/service/service">
           

		<div>
           <div>
  		{{#each posts}}
 		
   			 <h1> {{name}}, {{price}}</h1>
  		{{/each}}
            </div>
        </div>
    </div>
</body>

